@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
  color: #21252C;
}

@keyframes profile-spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
